<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Topicup</lang>
	</name>
	<author>
		<lang name="default">Alexei Lukin aka Kerby</lang>
	</author>
	<homepage>http://kerbystudio.ru</homepage>
	<version>1.0.1</version>
	<requires>
		<livestreet>1.0.1</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Moves topic up in new topics feed</lang>
		<lang name="russian">Поднимает топик "вверх" в ленте топиков, вытаскивая "на свет" незаслуженно забытые записи. Так же дает возможность пользователям исключать записи из лент.</lang>
	</description>
</plugin>